$grin: rgb(111, 194, 34);

#header_wrap_menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  z-index: 100;
}
#header_wrap {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  font-weight: bolder;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  height: 9rem;
}
#header_menu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 30rem;
  width: 100%;
  .header_line {
    border-bottom: 0.1rem gray solid;
    margin-bottom: 4rem;
  }
  .main_menu {
    width: 35%;
    margin-left: 33%;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    div:nth-child(2) {
      margin-right: 2rem;
    }
    .main_menu1 {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-right: 3rem;
    }
    & a {
      font-size: 1.8rem;
      color: gray;
      text-decoration: none;
      margin-bottom: 2rem;
      &:hover {
        color: $grin;
      }
    }
  }
}
.header_title {
  font-size: 6rem;
  width: 30rem;
  margin-left: 5%;
  & h1:hover {
    cursor: pointer;
  }
}
.header_mainbar {
  display: flex;
  width: 35%;
  align-items: center;
  font-size: 3rem;
  justify-content: space-between;
  & a {
    padding-right: 4rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.header_bar {
  display: flex;
  text-align: center;
  width: 35rem;
  height: 6rem;
  padding-top: 1rem;
  font-size: 2.3rem;
  & a {
    padding-top: 1.5rem;
    padding-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.langg {
  margin-left: 2rem;
  margin-top: 0.6rem;
  border: 1px solid gray;
  border-radius: 1rem;
  font-size: 2.5rem;
  padding: 0 3rem;
  padding-top: 0.5rem;
  height: 3rem;
  & p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .k:hover {
    color: $grin;
  }
  .eng {
    display: none;
  }
  &:hover {
    padding-bottom: 1.7rem;
    .eng {
      display: block;
      &:hover {
        color: $grin;
      }
    }
  }
}

.section_wrap {
  height: 100vh;
}
#section1 {
  .section_bg {
    width: 100%;
    height: 100%;
  }
  .section_img1 {
    width: 100%;
    height: 100%;
    display: none;
  }
  .section1_write {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 13rem;
    font-weight: 1000;
    & a {
      color: rgba(114, 109, 109, 0.5);
      &:hover {
        cursor: pointer;
      }
    }
    ::after {
      content: "";
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      margin-top: 2rem;
      margin-left: 49.5%;
      border-radius: 5rem;
      background-color: rgba(114, 109, 109, 0.466);
    }
    :last-child::after {
      display: none;
    }
  }
  .section1_word {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.2rem;
    display: block;
    color: white;
    top: 76rem;
    animation-duration: 0.3s;
    animation-name: slidein;
  }
}
@keyframes slidein {
  from {
    top: 90rem;
  }

  to {
    top: 76rem;
  }
}

#scroll_wrap {
  position: absolute;
  left: 48.5%;

  transform: translateY(-15rem);
  width: 3.5%;
  height: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  .scroll_write {
    font-size: 3rem;
    color: white;
    font-weight: 1000;
    margin-bottom: 1rem;
  }
  .scroll {
    margin: 0 auto;
    width: 2.5rem;
    height: 4rem;
    border: 0.2rem gray solid;
    border-radius: 3rem;
    & div {
      position: absolute;
      top: 50%;
      left: 46%;
      width: 0.5rem;
      height: 0.5rem;
      background-color: gray;
      border-radius: 4rem;
      animation-name: scroll_dot;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes scroll_dot {
  from {
    top: 42%;
  }
  to {
    top: 50%;
  }
}

#section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, white 70%, $grin 30%);
  .section2_wirte {
    position: absolute;
    width: 60%;
    left: 15%;
    top: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .section2_p1 {
      font-size: 3.5rem;
      color: $grin;
      font-weight: bolder;
    }
    .section2_p3 {
      font-size: 2rem;
    }
    .section2_p4 {
      font-size: 3.5rem;
      font-weight: bolder;
      & a {
        color: black;
        &:hover {
          cursor: pointer;
          color: $grin;
        }
      }
    }
  }
  .section2_p2 {
    position: absolute;
    width: 60%;
    left: 15%;
    top: 37%;
    z-index: 2;
    font-size: 10rem;
    font-weight: bolder;
    padding: 2rem 0;
    transition: font-size 0.3s, top 0.3s;
  }

  .section2_button {
    z-index: 2;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    top: 58%;
    left: 43%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    & .section2_button1,
    & .section2_button2 {
      width: 13rem;
      height: 13rem;
      background-color: rgba(158, 157, 157, 0.644);
      border-radius: 80rem;
      font-size: 8rem;
      display: flex;
      justify-content: center;
      color: white;
      &:hover {
        cursor: pointer;
        background-color: rgba(158, 157, 157, 0.844);
      }
    }
  }
  #section2_slide {
    width: 123%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 45%;
    display: flex;
    justify-content: space-between;
    transition: left 0.3s;
    & .section2_slide1 {
      z-index: 1;
      position: relative;
      left: 0;
      top: 0;
      width: 30%;
      height: 40%;
      overflow: hidden;
      & .section2_slide1_img {
        position: absolute;
        width: 95%;
        height: 100%;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .section2_box {
        position: absolute;
        width: 80%;
        height: 70%;
        top: 70%;
        transition: top 0.5s;
        & p {
          &:first-child {
            color: white;
            padding: 4rem;
            font-size: 2.5rem;
            font-weight: bolder;
          }
          &:last-child {
            font-size: 1.8rem;
            color: gray;
            padding-left: 4rem;
          }
        }
        & :hover {
          cursor: pointer;
        }
      }
    }
  }
}
@keyframes section2_bg {
  from {
    transform: translateX(30%);
    background: linear-gradient(90deg, white 70%, $grin 30%);
  }

  to {
    transform: translateX(0);
    background: linear-gradient(90deg, white 100%);
  }
}
#section3 {
  width: 100%;
  height: 100vh;
  position: relative;
  .section3_bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }
  .section3_img1 {
    width: 100%;
    height: 100%;
    z-index: -2;
    display: none;
  }
  & .section3_title_write {
    position: absolute;
    left: 50%;
    top: 27%;
    text-align: center;
    transform: translate(-50%, -50%);
    & div {
      font-size: 6rem;
      font-weight: 800;
      padding-bottom: 4rem;
      color: white;
    }
    & p {
      font-size: 1.8rem;
      color: white;
    }
  }
  & .section3_title_write1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    #section3_menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      & .section3_write {
        position: relative;
        color: white;
        font-size: 6rem;
        height: 100vh;
        font-weight: 1000;
        border-left: 0.1rem rgba(133, 133, 133, 0.671) solid;
        display: flex;
        align-items: flex-end;
        justify-items: center;
        & .section3_write1 {
          position: absolute;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -50%);
          transition: top 0.5s;
        }

        & .section3_word {
          display: none;
          position: absolute;
          left: 50%;
          top: 90%;
          transform: translate(-50%, -50%);
          & p {
            font-size: 1.8rem;
            color: rgb(75, 74, 74);
          }
          & .section3_box {
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            & span {
              color: white;
              margin-bottom: 0.8rem;
              width: 30rem;
              height: 6rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 1.8rem;
              border: 0.1rem gray solid;
              &:hover {
                cursor: pointer;
              }
            }
          }
          animation-duration: 0.5s;
          animation-name: section3_slide;
        }
      }
    }
  }
}
@keyframes section3_slide {
  from {
    top: 90%;
  }
  to {
    top: 70%;
  }
}
#section4 {
  width: 100%;
  height: 100vh;
  position: relative;
  & .section4_title_write {
    width: 66%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    & a {
      font-weight: bolder;
      &:first-child {
        display: inline;
        text-decoration: none;
        font-size: 5.5rem;
        color: black;

        &::before {
          content: " ";
          position: absolute;
          width: 13%;
          top: 75%;
          border-bottom: 1.2rem $grin solid;
          z-index: -1;
        }
      }
      &:last-child {
        color: black;
        font-size: 2rem;
        &:hover {
          color: $grin;
        }
      }
    }
  }
  & .section4_write_wrap {
    width: 68%;
    margin: 0 auto;
    height: 75%;
    position: relative;
    top: 27%;
    border-top: 0.1rem gray solid;
    & .section4_write {
      padding: 4rem;
      border-bottom: 0.1rem gray solid;
      height: 10%;
      transition: height 0.3s;
      & .section4_write1 {
        & p {
          font-weight: bolder;
          &:first-child {
            color: $grin;
            font-size: 1.8rem;
            padding-bottom: 1rem;
          }
          &:last-child {
            font-size: 2.5rem;
          }
        }
      }
      & .section4_word {
        display: none;
        & p {
          font-weight: bolder;
          font-size: 1.8rem;
          color: gray;
          &:first-child {
            padding-top: 1.6rem;
            padding-bottom: 5rem;
          }
        }
      }
      & .section4_last {
        &::after {
          content: "";
          display: block;
          border-top: 0.1rem gray solid;
        }
      }
    }
    & .s1 {
      height: 30%;
      background-color: rgb(251, 255, 193);
      & .section4_word {
        display: block;
      }
    }
  }
}
#section5 {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  & .section5_title_write {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -50%);
    & .section5_title_write1 p {
      text-align: center;
      color: white;

      &:first-child {
        font-weight: 1000;
        font-size: 6rem;
        margin-bottom: 3rem;
      }
      &:last-child {
        font-size: 1.8rem;
        margin-bottom: 6rem;
      }
    }
  }
  & .section5_write_wrap {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & .section5_write {
      width: 100%;
      height: 50rem;

      .section5_write1 {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 93%;
        & div {
          height: 100%;
          width: 100%;
          & img {
            height: 100%;
            width: 100%;
          }
          :hover {
            cursor: pointer;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transition: all 0.3s ease-in-out;
          }
        }
        & a {
          position: absolute;
          width: 100%;
          left: 10%;
          top: 25%;
          transform: translate(0, -50%);
          p {
            color: white;
            &:first-child {
              font-weight: 1000;
              font-size: 2.3rem;
              margin-bottom: 3rem;
            }
            &:last-child {
              font-size: 1.8rem;
              margin-bottom: 6rem;
            }
          }
        }
      }
      & .section5_write2 {
        height: 100%;
        width: 93%;
        background-color: white;
        & .section5_write2_1 {
          margin: 5rem;
          & p {
            font-weight: bolder;
            &:first-child {
              font-size: 2rem;
            }
            &:nth-child(2) {
              color: red;
              font-size: 6rem;
              margin-bottom: 2rem;
            }
            &:last-child {
              width: 12rem;
              height: 4rem;
              font-size: 1.3rem;
              border: 0.2rem gray solid;
              border-radius: 4rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        & .section5_write2_line {
          margin: 1rem 5rem;
          margin-top: 10rem;
          border-bottom: 0.1rem gray solid;
        }
        & .section5_write2_2 {
          margin: 0 5rem;
          & div {
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;
            font-size: 2.5rem;
            & .section5_write2_2r {
              color: red;
            }
          }
        }
      }
      & .section5_write3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .section5_write3_1 {
          height: 48%;
          width: 100%;
          background-color: white;
          position: relative;

          & .section5_write3_1_ti {
            position: absolute;
            margin-top: 4rem;
            margin-left: 4rem;
            font-size: 2rem;
            font-weight: bolder;
            padding-right: 20rem;
          }
          & .section5_write3_1_bu_plu,
          & .section5_write3_1_bu_min {
            position: absolute;
            margin-top: 4.5rem;
            margin-right: 4rem;
            font-size: 3rem;
            font-weight: bolder;
            color: gray;
            &:hover {
              cursor: pointer;
            }
          }
          & .section5_write3_1_bu_plu {
            right: 0rem;
          }
          & .section5_write3_1_bu_min {
            right: 4rem;
          }
          & .section5_write3_2_ti {
            display: none;
            position: absolute;
            left: 9%;
            top: 55%;
            transform: translate(0, -50%);
            font-size: 1.6rem;
            padding-right: 3rem;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
        & .section5_write3_3 {
          height: 48%;
          width: 100%;
          background-color: black;
          position: relative;
          & .section5_write3_3_ti {
            position: absolute;
            margin-top: 4rem;
            margin-left: 4rem;
            font-size: 2rem;
            font-weight: bolder;
            padding-right: 20rem;
            color: white;
          }
          & .section5_write3_3 {
            position: absolute;
            left: 9%;
            top: 66%;
            transform: translate(0, -50%);
            font-size: 1.6rem;
            font-weight: bolder;
            color: gray;
          }
          &:hover {
            cursor: pointer;
            background-color: $grin;
            & .section5_write3_3 {
              background-color: $grin;
            }
            & .section5_write3_3_img {
              animation-duration: 0.7s;
              animation-name: section5_5png;
              animation-fill-mode: forwards;
            }
          }

          & .section5_write3_3_img {
            width: 40%;
            height: 90%;
            position: absolute;
            left: 60%;
            top: 145%;
            & img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@keyframes section5_5png {
  from {
    top: 145%;
  }
  to {
    top: 20%;
  }
}
#button_wrap {
  z-index: 2;
  width: 8rem;
  display: flex;
  flex-direction: column;
  transform: translateY(45rem);
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.7s;
}
.section_button {
  margin: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border: 0.2rem rgba(182, 182, 182, 0.705) solid;
  border-radius: 40rem;
  background-color: rgba(0, 0, 255, 0);
  &:hover {
    cursor: pointer;
  }
}
#footer_wrap {
  width: 94%;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  height: 18rem;
  position: relative;
  padding-top: 8rem;
  & .footer_1 {
    position: absolute;
    left: 0;
    font-size: 4rem;
    font-weight: 1000;
  }
  & .footer_2 {
    width: 30%;
    position: absolute;
    left: 15%;

    & .footer_2_1 {
      display: flex;
      justify-content: space-between;
      & p {
        font-size: 1.8rem;
        &:hover {
          cursor: pointer;
        }
        &:first-child {
          font-weight: 1000;
        }
        &:last-child {
          font-weight: 1000;
          color: $grin;
        }
      }
    }
    & .footer_2_2 {
      padding-top: 3rem;
      & p {
        font-size: 1.8rem;
        color: gray;
      }
    }
  }
  & .footer_3 {
    position: absolute;
    right: 0;
    border: 0.15rem gray solid;
    border-radius: 5rem;
    padding: 1.5rem 5rem;
    font-size: 1.8rem;
    &:hover {
      cursor: pointer;
    }
  }
}
